In [2]:
import pandas as pd
#import tushare as ts
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
import pymysql
conn = pymysql.connect(host='localhost',port=3306,db='wzmatch',user='root',passwd='root',charset='utf8')
def sele(sql):
    cur = conn.cursor()
    cur.execute(sql)
    result = list(cur.fetchall())
    result = [list(r) for r in result]
    conn.commit()
    cur.close()
    
    return result

In [4]:
sql = 'select * from kpl2020_autumn'
data = sele(sql)

In [20]:
frame = pd.DataFrame(data, columns=['id', 'matchTime', 'teamA', 'teamB', 'score', 'scoreA', 'scoreB', 'BO'])
frame = frame[frame['BO']=='BO5']
frame[1:10]

    id         matchTime     teamA teamB  score scoreA scoreB   BO
13  14  2020-11-22 17:00  eStarPro    WE  0 - 3   None   None  BO5
14  15  2020-11-22 14:00     广州TTG    VG  3 - 0   None   None  BO5
15  16  2020-11-21 20:00        GK    RW  1 - 3   None   None  BO5
16  17  2020-11-21 17:00     RNG.M    Ts  1 - 3   None   None  BO5
17  18  2020-11-21 14:00     EDG.M   YTG  3 - 0   None   None  BO5
18  19  2020-11-20 20:00     广州TTG   TES  3 - 0   None   None  BO5
19  20  2020-11-20 17:00      HERO   DYG  1 - 3   None   None  BO5
20  21  2020-11-19 20:00       LGD    RW  3 - 2   None   None  BO5
21  22  2020-11-19 17:00        WE   YTG  3 - 0   None   None  BO5

In [21]:
# clean
gy = frame['score'].groupby(frame['score'])

# score
def f1(x):
    return x.split('-')[0].strip()
def f2(x):
    return x.split('-')[-1].strip()
frame['scoreA'] = frame['score'].apply(f1)
frame['scoreB'] = frame['score'].apply(f2)
# BO
frame['BO'] = 5
frame

      id         matchTime     teamA  teamB  score scoreA scoreB  BO
12    13  2020-11-22 20:00     AG超玩会    LGD  1 - 3      1      3   5
13    14  2020-11-22 17:00  eStarPro     WE  0 - 3      0      3   5
14    15  2020-11-22 14:00     广州TTG     VG  3 - 0      3      0   5
15    16  2020-11-21 20:00        GK     RW  1 - 3      1      3   5
16    17  2020-11-21 17:00     RNG.M     Ts  1 - 3      1      3   5
..   ...               ...       ...    ...    ...    ...    ...  ..
121  122  2020-09-18 17:00        VG     RW  3 - 0      3      0   5
122  123  2020-09-17 20:00       LGD    DYG  1 - 3      1      3   5
123  124  2020-09-17 17:00     RNG.M  EDG.M  3 - 2      3      2   5
124  125  2020-09-16 20:00     AG超玩会     Ts  3 - 0      3      0   5
125  126  2020-09-16 17:00      HERO  广州TTG  2 - 3      2      3   5

[114 rows x 8 columns]

In [22]:
sql = 'select * from kpl2020_spring'
spring_data = sele(sql)
spring_frame = pd.DataFrame(spring_data, columns=['id', 'matchTime', 'teamA', 'teamB', 'score', 'scoreA', 'scoreB', 'BO'])

# score
def f1(x):
    return int(x.split('-')[0].strip())
def f2(x):
    return int(x.split('-')[-1].strip())
spring_frame['scoreA'] = spring_frame['score'].apply(f1)
spring_frame['scoreB'] = spring_frame['score'].apply(f2)
# BO
spring_frame.loc[spring_frame[spring_frame['BO']=='BO5'].index,'BO'] = 5
spring_frame.loc[spring_frame[spring_frame['BO']=='BO7'].index,'BO'] = 7
spring_frame

      id         matchTime  teamA    teamB  score  scoreA  scoreB BO
0      1  2020-06-13 18:00  AG超玩会       Ts  3 - 4       3       4  7
1      2  2020-06-07 19:00     Ts      DYG  4 - 1       4       1  7
2      3  2020-06-06 19:00  广州TTG       Ts  2 - 4       2       4  7
3      4  2020-06-05 19:00    DYG    AG超玩会  2 - 4       2       4  7
4      5  2020-05-31 19:00     Ts    RNG.M  4 - 1       4       1  7
..   ...               ...    ...      ...    ...     ...     ... ..
128  129  2020-03-20 05:00  RNG.M      DYG  0 - 3       0       3  5
129  130  2020-03-19 07:00     RW      YTG  1 - 3       1       3  5
130  131  2020-03-19 05:00  EDG.M       GK  0 - 3       0       3  5
131  132  2020-03-18 07:00    LGD       VG  3 - 2       3       2  5
132  133  2020-03-18 05:00  AG超玩会  QGhappy  3 - 0       3       0  5

[133 rows x 8 columns]

In [27]:
f1 = spring_frame[['teamA','scoreA']]
f2 = spring_frame[['teamB','scoreB']]
scores = f1 + f2
scores

     scoreA  scoreB teamA teamB
0       NaN     NaN   NaN   NaN
1       NaN     NaN   NaN   NaN
2       NaN     NaN   NaN   NaN
3       NaN     NaN   NaN   NaN
4       NaN     NaN   NaN   NaN
..      ...     ...   ...   ...
128     NaN     NaN   NaN   NaN
129     NaN     NaN   NaN   NaN
130     NaN     NaN   NaN   NaN
131     NaN     NaN   NaN   NaN
132     NaN     NaN   NaN   NaN

[133 rows x 4 columns]